# Libraries

In [2]:
import pyodbc
import pandas as pd
from openpyxl import load_workbook

# Database settings

In [3]:
# Connect to the database
server = r'NOLTE01\CHARLESNOLTE'
database = 'SouthAfrica_CrimeStats'
username = 'cnoltehj'
password = 'HeidiJoy@1'

# 2016-2020 Validate Policestation and Exclude rows

In [112]:
# Load the Excel file
# file_path = "./Dataset_CSV_Files/2020_2021/first_quarter 2020_2021_crime_statistics.xlsx"
# Quarter = 1

file_path = "./Dataset_CSV_Files/2024_2025/2024-2025_-_2nd_Quarter_WEB.xlsx"
Quarter = 2

# file_path = "./Dataset_CSV_Files/2024_2025/2024_2025_3rd_Quarter_WEB.xlsx"
# Quarter = 3

# file_path = "./Dataset_CSV_Files/2024_2025/2024-2025_Q4_crime_stats.xlsx" 
# Quarter = 4

wb = load_workbook(file_path, data_only=True)

# Access the desired sheet
# Q-1, 2,3,4
sheet = wb["Dropdown tables stations"] #wb["Stations per province"] --- 2024 : Crime stats per component

# Quarter
#sheet = wb["Crime stats per component"]

# Check the value of cell Q8
cell_J9 = sheet["J9"].value

# Check the value of cell Q9
cell_J10 = sheet["J10"].value

# 1 Quarter
# excluded_rows = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 22, 28, 29, 36, 40, 47, 53]

# 2 Quarter
excluded_rows = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 22, 28, 35, 39, 46, 52]

#3 Quarter and 4 Quarter
#excluded_rows = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 22, 29, 36, 40, 47, 53]

excluded_columns = [1, 2, sheet.max_column - 1, sheet.max_column]  # First 2 columns and last 2 columns

print("Quarter : ",Quarter)
print("Province : ",cell_J9)
print("Police Station : ",cell_J10)

# #     # Iterate over all rows except for the excluded ones
# for row_number in range(2, sheet.max_row + 1):
#     if row_number not in excluded_rows:
#             # Retrieve row values and exclude specified columns
#         row_values = [cell.value for col_num, cell in enumerate(sheet[row_number]) if col_num + 1 not in excluded_columns]

#             # Print the row values as a single dataset
#         print(row_values)

KeyError: 'Worksheet Dropdown tables stations does not exist.'

# 2016-2020 Insert Stats into Database Omit 2020

In [ ]:
cnxn = pyodbc.connect(f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}')
cursor = cnxn.cursor()

# Load workbook
file_path = './Dataset_CSV_Files/2020_2021/Q2_2016.xlsx'
wb = load_workbook(file_path, data_only=True)

# Loop through sheet1 - sheet150
for i in range(153, 154):
    sheet_name = f"Sheet{i}"
    
    if sheet_name not in wb.sheetnames:
        print(f"Skipping {sheet_name} (does not exist)")
        continue
    
    sheet = wb[sheet_name]
    print(f"\nProcessing {sheet_name}...")

    # Get header info
    cell_J9 = sheet["J9"].value
    cell_J10 = sheet["J10"].value
    selected_province = cell_J9
    selected_policestation = 'Simons Town' #cell_J10
    selected_quarter = 2

    print(f"Quarter: {selected_quarter}, Province: {selected_province}, Police Station: {selected_policestation}")

    excluded_rows = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 22, 28, 35, 39, 46, 52] #Q2

    #excluded_rows = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 22, 28, 29, 36, 40, 47, 53] # Q3 / Q4

    excluded_columns = [1, 2, sheet.max_column - 1, sheet.max_column]

    # Process each data row
    for row_number in range(3, sheet.max_row + 1):
        if row_number in excluded_rows:
            continue

        row_values = [
            cell.value for col_num, cell in enumerate(sheet[row_number])
            if col_num + 1 not in excluded_columns
        ]

        # Skip empty or invalid rows
        if all(v in (None, "", " ") for v in row_values):
            continue

        try:
            cursor.execute(
                "EXEC sp_Add_QuarterlyCrimeStats_2016_2019 ?, ?, ?, ?, ?, ?, ?, ?",
                (
                    str(row_values[0]).strip(),
                    row_values[1],
                    row_values[2],
                    row_values[3],
                    row_values[4],
                    str(selected_province).strip(),
                    str(selected_policestation).strip(),
                    int(selected_quarter)
                )
            )
            cnxn.commit()
            print(f"Inserted row {row_number} from {sheet_name}")

        except pyodbc.Error as e:
            print(f"SQL Error in {sheet_name} row {row_number}: {e}")

# Cleanup
cursor.close()
cnxn.close()
wb.close()
print("\n Processing complete for all sheets.")

Processing Sheet153...
Quarter: 2, Province: WESTERN_CAPE, Police Station: Simons Town
Inserted row 14 from Sheet153
Inserted row 15 from Sheet153
Inserted row 16 from Sheet153
Inserted row 17 from Sheet153
Inserted row 18 from Sheet153
Inserted row 19 from Sheet153
Inserted row 20 from Sheet153
Inserted row 21 from Sheet153
Inserted row 23 from Sheet153
Inserted row 24 from Sheet153
Inserted row 25 from Sheet153
Inserted row 26 from Sheet153
Inserted row 27 from Sheet153
Inserted row 29 from Sheet153
Inserted row 30 from Sheet153
Inserted row 31 from Sheet153
Inserted row 32 from Sheet153
Inserted row 33 from Sheet153
Inserted row 34 from Sheet153
Inserted row 36 from Sheet153
Inserted row 37 from Sheet153
Inserted row 38 from Sheet153
Inserted row 40 from Sheet153
Inserted row 41 from Sheet153
Inserted row 42 from Sheet153
Inserted row 43 from Sheet153
Inserted row 44 from Sheet153
Inserted row 45 from Sheet153
Inserted row 47 from Sheet153
Inserted row 48 from Sheet153
Inserted row 49 from Sheet153
Inserted row 50 from Sheet153
Inserted row 51 from Sheet153
Inserted row 53 from Sheet153
Inserted row 54 from Sheet153
Inserted row 55 from Sheet153
Inserted row 56 from Sheet153
Inserted row 57 from Sheet153
SQL Error in Sheet153 row 58: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 59: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 60: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 61: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 62: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 63: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 64: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 65: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 66: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 67: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 68: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 69: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 70: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 71: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 72: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 73: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 74: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 75: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 76: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 77: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 78: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 79: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 80: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 81: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 82: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 83: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 84: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 85: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 86: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 87: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 88: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 89: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 90: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 91: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 92: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 93: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 94: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 95: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 96: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 97: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 98: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 99: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 100: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 101: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
SQL Error in Sheet153 row 102: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert the value NULL into column 'CategoryCode', table 'SouthAfrica_CrimeStats.dbo.stats_2ndQuarter_ZAWC_PoliceStationPerProvince'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")

:

# Insert Trio Crime

In [ ]:

cnxn = pyodbc.connect(f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}')
cursor = cnxn.cursor()

# === 1. Fetch all police station codes ===
cursor.execute("EXEC sp_Get_All_PoliceStationCodes")
stations = cursor.fetchall()
print(f"Total stations found: {len(stations)}")

# === 2. Loop through each station ===
for row in stations:
    station_code = row[0]  # Extract the string value (e.g. 'AL01WC')
    print(f"Processing StationCode: {station_code}")

    try:
        # Pass parameter correctly as a tuple (note the comma)
        cursor.execute("EXEC sp_Update_Q4TrioCrime @PoliceStationCode = ?", (station_code,))
        cnxn.commit()
        print(f"Successfully updated: {station_code}")

    except Exception as e:
        print(f"Error updating {station_code}: {e}")

# === Cleanup ===
cursor.close()
cnxn.close()
print("All stations processed successfully.")

Total stations found: 152
Processing StationCode: AL01WC
 Successfully updated: AL01WC
Processing StationCode: AS02WC
 Successfully updated: AS02WC
Processing StationCode: AT03WC
 Successfully updated: AT03WC
Processing StationCode: ATL04WC
 Successfully updated: ATL04WC
Processing StationCode: BA05WC
 Successfully updated: BA05WC
Processing StationCode: BD14WC
 Successfully updated: BD14WC
Processing StationCode: BE07WC
 Successfully updated: BE07WC
Processing StationCode: BF13WC
 Successfully updated: BF13WC
Processing StationCode: BG12WC
 Successfully updated: BG12WC
Processing StationCode: BL010WC
 Successfully updated: BL010WC
Processing StationCode: BO11WC
 Successfully updated: BO11WC
Processing StationCode: BS09WC
 Successfully updated: BS09WC
Processing StationCode: BV08WC
 Successfully updated: BV08WC
Processing StationCode: BW06WC
 Successfully updated: BW06WC
Processing StationCode: CB17WC
 Successfully updated: CB17WC
Processing StationCode: CD15WC
 Successfully updated: CD15WC
Processing StationCode: CLV23WC
 Successfully updated: CLV23WC
Processing StationCode: CM22WC
 Successfully updated: CM22WC
Processing StationCode: COV24WC
 Successfully updated: COV24WC
Processing StationCode: CR19WC
 Successfully updated: CR19WC
Processing StationCode: CTC18WC
 Successfully updated: CTC18WC
Processing StationCode: CTD20WC
 Successfully updated: CTD20WC
Processing StationCode: CW21WC
 Successfully updated: CW21WC
Processing StationCode: CZ16WC
 Successfully updated: CZ16WC
Processing StationCode: DB31WC
 Successfully updated: DB31WC
Processing StationCode: DD27WC
 Successfully updated: DD27WC
Processing StationCode: DF29WC
 Successfully updated: DF29WC
Processing StationCode: DGA25WC
 Successfully updated: DGA25WC
Processing StationCode: DL26WC
 Successfully updated: DL26WC
Processing StationCode: DR28WC
 Successfully updated: DR28WC
Processing StationCode: DR30WC
 Successfully updated: DR30WC
Processing StationCode: DS33WC
 Successfully updated: DS33WC
Processing StationCode: DV32WC
 Successfully updated: DV32WC
Processing StationCode: EB35WC
 Successfully updated: EB35WC
Processing StationCode: EK34WC
 Successfully updated: EK34WC
Processing StationCode: ER36WC
 Successfully updated: ER36WC
Processing StationCode: FH37WC
 Successfully updated: FH37WC
Processing StationCode: FHK38WC
 Successfully updated: FHK38WC
Processing StationCode: GB39WC
 Successfully updated: GB39WC
Processing StationCode: GB43WC
 Successfully updated: GB43WC
Processing StationCode: GB45WC
 Successfully updated: GB45WC
Processing StationCode: GBR47WC
 Successfully updated: GBR47WC
Processing StationCode: GD40WC
 Successfully updated: GD40WC
Processing StationCode: GDS48WC
 Successfully updated: GDS48WC
Processing StationCode: GFW44WC
 Successfully updated: GFW44WC
Processing StationCode: GG41WC
 Successfully updated: GG41WC
Processing StationCode: GPK46WC
 Successfully updated: GPK46WC
Processing StationCode: GUG49WC
 Successfully updated: GUG49WC
Processing StationCode: GW42WC
 Successfully updated: GW42WC
Processing StationCode: HB54WC
 Successfully updated: HB54WC
Processing StationCode: HBC51WC
 Successfully updated: HBC51WC
Processing StationCode: HF53WC
 Successfully updated: HF53WC
Processing StationCode: HM52WC
 Successfully updated: HM52WC
Processing StationCode: HR50WC
 Successfully updated: HR50WC
Processing StationCode: IACT55WC
 Successfully updated: IACT55WC
Processing StationCode: KA63WC
 Successfully updated: KA63WC
Processing StationCode: KFT64WC
 Successfully updated: KFT64WC
Processing StationCode: KH58WC
 Successfully updated: KH58WC
Processing StationCode: KHL57WC
 Successfully updated: KHL57WC
Processing StationCode: KM59WC
 Successfully updated: KM59WC
Processing StationCode: KMO61WC
 Successfully updated: KMO61WC
Processing StationCode: KR65WC
 Successfully updated: KR65WC
Processing StationCode: KT56WC
 Successfully updated: KT56WC
Processing StationCode: KV62WC
 Successfully updated: KV62WC
Processing StationCode: KWQ67WC
 Successfully updated: KWQ67WC
Processing StationCode: KWR60WC
 Successfully updated: KWR60WC
Processing StationCode: KWT66WC
 Successfully updated: KWT66WC
Processing StationCode: LAN72WC
 Successfully updated: LAN72WC
Processing StationCode: LB70WC
 Successfully updated: LB70WC
Processing StationCode: LB73WC
 Successfully updated: LB73WC
Processing StationCode: LD74WC
 Successfully updated: LD74WC
Processing StationCode: LG75WC
 Successfully updated: LG75WC
Processing StationCode: LGR76WC
 Successfully updated: LGR76WC
Processing StationCode: LP68WC
 Successfully updated: LP68WC
Processing StationCode: LRB71WC
 Successfully updated: LRB71WC
Processing StationCode: LS69WC
 Successfully updated: LS69WC
Processing StationCode: LTW77WC
 Successfully updated: LTW77WC
Processing StationCode: LWL79WC
 Successfully updated: LWL79WC
Processing StationCode: LZ78WC
 Successfully updated: LZ78WC
Processing StationCode: MB82WC
 Successfully updated: MB82WC
Processing StationCode: MB93WC
 Successfully updated: MB93WC
Processing StationCode: MBG83WC
 Successfully updated: MBG83WC
Processing StationCode: MBS86WC
 Successfully updated: MBS86WC
Processing StationCode: MCG85WC
 Successfully updated: MCG85WC
Processing StationCode: MCR80WC
 Successfully updated: MCR80WC
Processing StationCode: MFU87WC
 Successfully updated: MFU87WC
Processing StationCode: MIL88WC
 Successfully updated: MIL88WC
Processing StationCode: MIP89WC
 Successfully updated: MIP89WC
Processing StationCode: MKW84WC
 Successfully updated: MKW84WC
Processing StationCode: ML81WC
 Successfully updated: ML81WC
Processing StationCode: MON90WC
 Successfully updated: MON90WC
Processing StationCode: MRB91WC
 Successfully updated: MRB91WC
Processing StationCode: MRB95WC
 Successfully updated: MRB95WC
Processing StationCode: MSB92WC
 Successfully updated: MSB92WC
Processing StationCode: MZB94WC
 Successfully updated: MZB94WC
Processing StationCode: NPR96WC
 Successfully updated: NPR96WC
Processing StationCode: NWR97WC
 Successfully updated: NWR97WC
Processing StationCode: NYG98WC
 Successfully updated: NYG98WC
Processing StationCode: OH100WC
 Successfully updated: OH100WC
Processing StationCode: OV99WC
 Successfully updated: OV99WC
Processing StationCode: PAH113WC
 Successfully updated: PAH113WC
Processing StationCode: PBB110WC
 Successfully updated: PBB110WC
Processing StationCode: PBG108WC
 Successfully updated: PBG108WC
Processing StationCode: PDP105WC
 Successfully updated: PDP105WC
Processing StationCode: PLP106WC
 Successfully updated: PLP106WC
Processing StationCode: PLPE107WC
 Successfully updated: PLPE107WC
Processing StationCode: PLS109WC
 Successfully updated: PLS109WC
Processing StationCode: PRA112WC
 Successfully updated: PRA112WC
Processing StationCode: PRE102WC
 Successfully updated: PRE102WC
Processing StationCode: PRL101WC
 Successfully updated: PRL101WC
Processing StationCode: PRW104WC
 Successfully updated: PRW104WC
Processing StationCode: PTD103WC
 Successfully updated: PTD103WC
Processing StationCode: PVL111WC
 Successfully updated: PVL111WC
Processing StationCode: RBS120WC
 Successfully updated: RBS120WC
Processing StationCode: RD118WC
 Successfully updated: RD118WC
Processing StationCode: RDB121WC
 Successfully updated: RDB121WC
Processing StationCode: RGH116WC
 Successfully updated: RGH116WC
Processing StationCode: RSD114WC
 Successfully updated: RSD114WC
Processing StationCode: RSE119WC
 Successfully updated: RSE119WC
Processing StationCode: RSV115WC
 Successfully updated: RSV115WC
Processing StationCode: RW117WC
 Successfully updated: RW117WC
Processing StationCode: SB130WC
 Successfully updated: SB130WC
Processing StationCode: SBR136WC
 Successfully updated: SBR136WC
Processing StationCode: SBY132WC
 Successfully updated: SBY132WC
Processing StationCode: SF129WC
 Successfully updated: SF129WC
Processing StationCode: SFT134WC
 Successfully updated: SFT134WC
Processing StationCode: SHB128WC
 Successfully updated: SHB128WC
Processing StationCode: SLB131WC
 Successfully updated: SLB131WC
Processing StationCode: SLH122WC
 Successfully updated: SLH122WC
Processing StationCode: SM123WC
 Successfully updated: SM123WC
Processing StationCode: SPT125WC
 Successfully updated: SPT125WC
Processing StationCode: SRN124WC
 Successfully updated: SRN124WC
Processing StationCode: ST126WC
 Successfully updated: ST126WC
Processing StationCode: STB135WC
 Successfully updated: STB135WC
Processing StationCode: STR133WC
 Successfully updated: STR133WC
Processing StationCode: SW127WC
 Successfully updated: SW127WC
Processing StationCode: SWD137WC
 Successfully updated: SWD137WC
Processing StationCode: TB142WC
 Successfully updated: TB142WC
Processing StationCode: TBH138WC
 Successfully updated: TBH138WC
Processing StationCode: TBH140WC
 Successfully updated: TBH140WC
Processing StationCode: TR141WC
 Successfully updated: TR141WC
Processing StationCode: TVW139WC
 Successfully updated: TVW139WC
Processing StationCode: UDL143WC
 Successfully updated: UDL143WC
Processing StationCode: VBG146WC
 Successfully updated: VBG146WC
Processing StationCode: VDP145WC
 Successfully updated: VDP145WC
Processing StationCode: VRD147WC
 Successfully updated: VRD147WC
Processing StationCode: VRHD144WC
 Successfully updated: VRHD144WC
Processing StationCode: WBR152WC
 Successfully updated: WBR152WC
Processing StationCode: WCT151WC
 Successfully updated: WCT151WC
Processing StationCode: WSK150WC
 Successfully updated: WSK150WC
Processing StationCode: WSL149WC
 Successfully updated: WSL149WC
Processing StationCode: WTN148WC
 Successfully updated: WTN148WC
All stations processed successfully.